<section class="induction_banner">
  
</section>
{% schema %}
  {
    "name": "Induction Cooker Banner",
    "settings": [],
    "presets": [
      {
        "name":"Induction Cooker Banner"
      }
    ]
  }
{% endschema %}