<style>.rcl-custom-link a{color:#ff6459}.rcl-custom-link-two a{color:#004a38}.pf-slider-nav{bottom:-10px!important;align-items:center}.pagination-style-1 button.active{height:15px!important;width:15px!important;box-sizing:border-box;padding:0;border-radius:50%}.pagination-style-1 button{width:12px!important;height:12px!important;background:rgba(0,0,0,.4);box-sizing:border-box;padding:0;border-radius:50%}button.pf-slider-next.nav-style-1,button.pf-slider-prev.nav-style-1{top:40%}.eEfOai .pf-slider-next{right:-35px}.eEfOai .pf-slider-prev{left:-35px}</style><style>@font-face {
        font-family: 'Avenir Heavy';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir_Heavy.woff2?v=1694158359);
      }@font-face {
        font-family: 'Avenir-Black';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir-Black.woff2?v=1694418083);
      }@font-face {
        font-family: 'Avenir-Roman';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir-Roman.woff2?v=1694418083);
      }@font-face {
        font-family: 'Avenir-Book';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir-Book.woff2?v=1694418083);
      }@font-face {
        font-family: 'Avenir-Heavy';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir-Heavy.woff2?v=1694418083);
      }@font-face {
        font-family: 'Avenir-Medium';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir-Medium.woff2?v=1694418082);
      }@font-face {
        font-family: 'Avenir-Light';
        src: url(https://cdn.shopify.com/s/files/1/0609/3235/8403/files/Avenir-Light.woff2?v=1694418082);
      }</style><div style="opacity:0" class="sc-fKVqWL kgUHEn __pf __pf_rvfTNBv1" id="__pf"><div data-pf-type="Body" class="sc-xiLah hBpxAH pf-4_"></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.6.3","shopDomain":"the-airhood.myshopify.com","elementData":{},"pageTitle":"New Homepage - DO NOT DEACTIVATE EVEN IT IS BLANK","pageType":"home","pageId":"5430f4f3-ed41-4813-9094-e1915c9ddec8","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.6.3/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://the-airhood.myshopify.com/admin/apps/pagefly/editor?id=5430f4f3-ed41-4813-9094-e1915c9ddec8&type=home)."
    }
  ]
}
{% endschema %}