<style>
  strong.rcl-strong-test {
    font-family: 'Avenir Heavy',sans-serif;
    font-size: 60px;
    line-height: normal;
  }
  span.rcl-span-test {
    font-family: 'Avenir Roman',sans-serif;
    font-size: 18px;
    line-height: normal;
  }
</style>
<strong class="rcl-strong-test">This is a template made in Liquid. This is just a test for Avenir Heavy</strong>
<span class="rcl-span-test">This is a test for Avenir Roman</span>
{% schema %}
  {
    "name": "Test Font Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}